* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.navbar-toggler {
    border: transparent !important;
}

.navbar-toggler:focus {
    border-color: #3c73a5 !important;
    box-shadow: 0 0 5px rgba(60, 115, 165, 0.5) !important;
}

.navbar .nav-link.active {
    color: #3c73a5 !important;
}

footer {
    font-size: 0.95rem;
    background-color: #3c73a5;
}

footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff !important;
}

#decoration-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.357) !important;
}

.navbar .nav-link {
    font-weight: 500;
    color: #333 !important;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #3c73a5 !important;
}

#prioridad {
    color: #3c73a5 !important;
}

#img-logo-nav,
#img-logo-footer {
    height: 40px;
    width: 40px;
}